/* CSS Font Rule
	font-family: 'IBM Plex Sans Arabic', sans-serif;
*/

.general-content{
	background-color: #d8f3dc;
}

.navigation-content{
	font-family: 'IBM Plex Sans Arabic', sans-serif;
	weight: 500;
	background-color: #e3f2fd;
}

.placeholder-content{
	font-family: 'IBM Plex Sans Arabic', sans-serif;
	weight: 300;
}
