/* CSS Font Rule
	font-family: 'IBM Plex Sans Arabic', sans-serif;
*/

.general-style{
	background-color: #d8f3dc;
}

.placeholder-content{
	font-family: 'IBM Plex Sans Arabic', sans-serif;
	weight: 300;
}
